
*{
  box-sizing: border-box;
}

body{
  background-image: url('../public/bg.jpg');
background-repeat: no-repeat;
font-family: 'Quicksand', sans-serif;

}
@media only screen and (max-width: 1020px) {
  body {
    background-image: none;
  }
}
.nav{

    align-self: flex-end;
  
}